@CHARSET "ISO-8859-1";

	body{
		font-family:Verdana;
		font-size:10px;
		white-space:nowrap;
		overflow-x:scroll;
		witdh:auto;
	}
	div{
		width:auto;
		
		
	}
	.label{
		font-weight: bold;
		font-size:11px;
	}
	
	.column{
		float:left;
		position:relative;
		border:0px;
	}
	
	.column legend{
		font-weight:bold;
		font-size:12px;
	}
	.content{
		width:auto;
		min-width:1200px;
	}
	
	textarea{
		font-size:10px;
	}
	
	.error{
		background-color:red;
		color:white;
	}
	
	.correct1{
		background-color: "#F0F0F0";
	}
	
	.correct2{
		background-color: #D3D3D3;
	}
	
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    border-right: 1px solid white;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    width: auto;
    line-height:20px;
    vertical-align:middle;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}